body {
  margin: 0;
  margin-left: 0;
  margin-right: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MAIN{
  display: grid;
  border: 1px solid black;
  /* height: auto;s */
  /* max-height:2000rem ; */
  border-radius: 0.2rem;
  padding: 0%;

}

/* .suba
{
  width: 90%;
  height: 50rem;
  border: 1px solid black;
} */

.grid-container{
  display: grid;
  /* border: 1px solid black; */
  margin-left: 159px;
  margin-right: 15.2%;
  margin-top:100px;
  grid-template-columns: 39% 39% 22%;
  grid-template-rows: 3.5rem 3.5rem;
  grid-gap:0.7%;
  background-color: rgb(253, 255, 236);
  border:0.1rem solid rgb(224, 224, 224);
  border-radius: 0.4rem;
  padding-right:2%;
  padding-left: 5px;;
}

/* .grid-item { */
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 20px; */
  /* font-size: 30px; */
  /* text-align: center; */
  /* height: 20rem%; */

/* } */
.side{
  grid-area: 3/3/12/4;
}
.card_by_me{
  object-fit: cover;
  height: 100%;
  /* color: blue; */
  font-size: 1rem;
}


.nav1{
  grid-area: 1/1/1/4;
  overflow: scroll;
  display: inline-block;
  /* padding-left: 0; */
  margin-bottom:0 ;
}
.nav2{
  grid-area: 2/1/2/4;
  background-color: rgb(252, 205, 205);

}
.last_button
{
  grid-area: 13/2/13/3;
}


@media only screen and (max-width: 1160px) {
  .grid-container{
    display: grid;
    /* border: 1px solid black; */
    margin-left: 50px;
    margin-right: 50.2px;
    margin-top:100px;
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: 3rem 3rem;
    grid-gap:0.5%;
    background-color: rgb(253, 255, 236);
    border:0.1rem solid rgb(224, 224, 224);
    border-radius: 0.4rem;
  }
  /* .side{
    display: none;
  } */

 

}

div.scrollmenu {
  background-color: rgb(250, 232, 232);
  overflow: auto;
  white-space: nowrap;
}
.nav2{
  grid-area: 2/1/2/4;
  background-color: rgb(252, 205, 205);
  margin-top: 0;
}
div.scrollmenu span {
  display: inline-block;
  color: rgb(253, 171, 19);
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu span:hover {
  color: rgb(115, 48, 240);
  cursor: pointer;
}
div.scrollmenu span:active {
  /* color: rgba(247, 14, 14, 0.082); */
  background-color: red;
  /* cursor: pointer; */
}
.card {
  box-shadow: 15 15px 25px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /* width: 40%; */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}


.card_by_me{
  object-fit: cover;
  height: 100%;
  margin-top: 0;
  padding-top: 0;
  /* color: rgb(25, 25, 27); */
  font-size: 0.5rem;
}


@media only screen and (max-width: 720px) {
  .grid-container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    margin-left: 20px;
    margin-right: 20.2px;
    margin-top:20px;
    /* grid-template-columns: 39% 39% 22%; */
    /* grid-template-rows: 3rem 3rem; */
    /* grid-gap:0.5%; */
    background-color: #ffffff;
    border:0.1rem solid rgb(224, 224, 224);
    border-radius: 0.4rem;
  }
  .side{
    display: none;
  }


  .card_by_me{
    margin: 5%;
    object-fit: cover;
    height: 100%;
    color: rgb(25, 25, 27);
    font-size: 80%;
    background-color: white;
    /* border: white; */
    /* box-shadow: tomato; */
  }
  .card {
    box-shadow: 15 15px 25px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 20px;
    /* width: 40%; */
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  




}